/*
This code modifys the standard theme from no-style-please. The two sets of 3
dashes (---) allows us to import the existing theme, then all further code 
overrides the default values.
*/
---
---

@import "no-style-please";

// Define colors
$bg-color: #FDF6E3; // solarized base3
$text-color: #657b83; // solarized base00
$link-color: #cb4b16; // solarized orange

// Colors from solarized palette:
// https://ethanschoonover.com/solarized/

// Override colors and font
html, body { background: $bg-color; }

body {
  color: $text-color;
//   font-family: "Verdana", sans-serif;
}

.w { background-color: $bg-color; }

a { color: $link-color; }