---
---

@import "no-style-please";

$bg-color: #FDF6E3; // solarized base3
$text-color: #657b83; // solarized base00
$link-color: #cb4b16; // solarized orange

// Colors from solarized palette:
// https://ethanschoonover.com/solarized/

html, body { background: $bg-color; }

body { color: $text-color; }

.w { background-color: $bg-color; }

a { color: $link-color; }